body {
    background-color: aliceblue;
}

.styleButton {
    width: 120px;
}

.colorThemeEdit {
    color: black;
    cursor: pointer;
    transition: color 0.2s ease;
}

.colorThemeDelete {
    color: black;
    cursor: pointer;
    transition: color 0.2s ease;
}

.colorThemeDelete:hover {
    color: red;
}

.colorThemeBlue:hover {
    color: green;
}

.admin {
    border: 2px solid antiquewhite;
    color: white;
    text-transform: uppercase;
}